*{
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  /* position: relative;
   z-index: 0; */
}
.mainContent {
  position: relative;
  height: 90vh;
  background-color: darkseagreen;
}
.home-container {
  height: 100vh; /* Takes up the full height of the viewport */
  grid-template-rows: 1fr; /* Takes up all the available space */
  display:flex;
  justify-content: center;
  
}

.landCircle {
  position: relative;
  display: flex;
  cursor:grab;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border: solid black 5px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landWelcome {
  font-size: 3rem;
  text-shadow: 1px 15px 2px black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome1:hover {
  color: #FF0101;
  margin-bottom: -15px;
}
#welcome2:hover {
  color: #FFEA00;
  margin-bottom: -15px;
}
#welcome3:hover {
  color: #1B0093;
  margin-bottom: -15px;
}
#welcome4:hover {
  color: #006E37;
  margin-bottom: -15px;
}
#welcome5:hover {
  color: #FF9966;
  margin-bottom: -25px;
}
#welcome6:hover {
  color: #FF0101;
  margin-bottom: -15px;
}
#welcome7:hover {
  color: #FFEA00;
  margin-bottom: -15px;
}
#welcome8:hover {
  color: #00ff59;
  margin-bottom: -15px;
}
#welcome9:hover {
  color: #00c3ff;
  margin-bottom: -15px;
}
@media only screen and (max-device-width: 480px){
  .landCircle {
     width: 75vw;
  height: 75vh;
  }
  .landWelcome {
    font-size: 2rem;
  }
  #loginImage {
    display: none;
  }
}



/* .hero{
  position: relative;
  z-index: 3;
  height: 4vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../public/Landing.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */
.navContainer {

padding: 0;
margin: 0;

}

.navBase {
  background-color: rgb(186, 176, 163) !important;
 justify-content: right;
 padding-right: 5%;
 border-bottom: solid black 1px;
 padding-top: 0;
 padding-bottom: 0;
}
.navImage {
  
  height: 40px;
  width: 45%;

}
.navbar-brand {
  font-family: 'Cuneate', sans-serif;
  font-weight: 900;
  color:rgb(255, 255, 255) !important;
  text-shadow: -1px -2px 0 rgb(0, 0, 0), 2px -1px 0 #000, -1px 2px 0 #000, 1px 1px 0 #000;
  padding-left: 5px;
  padding-right: 1rem;
    margin-right: 1rem;
}
.navCollap {
  flex-grow: 0;
  
 
}
.navLink {
  font-weight: 750;
color:#000 !important;
}
.navLink:hover {
 border-bottom: solid black 1px;
 transition: 1.5s ease-in-out;
}
/* SoundCloud Button */
.sc-button {
  position: absolute;
  z-index: 5;
  right: 2.5%;
  bottom: 5%;
  overflow: hidden;
}
#sc-widget {
  position: absolute;
  z-index: 5;
  right: 2.5%;
  bottom: 5%;
  overflow: hidden;
 
}
/* Login Page */
#loginContainer {
 background-color: rgb(0, 0, 0);
}

#loginCard {
  height: 92vh;
}
#loginImage {
  height: 92vh;
}
.loginBrand {
  font-weight: 900;
  font-size: xx-large;
  font-stretch:wider;
}
.nav-pills .nav-link.active{
  color:aliceblue !important;
 background-color: #000000 !important;
}
.nav-link {
  color: black ;
}
.form-check-input:checked {
  background-color: #e0ec6e !important;
  border-color: #3b064c !important;
}
.btn-primary {
  background-color: #11064c;
  border-color: #000000;
  max-width: 50%;

}
.loginIcons {
  height: 40px;
  width: 40px;
  color: #000;
}
#shopContainer {
  background-color: #000000;
  max-height: fit-content;
}
.shopImage {
border: solid 5px;
}
.shopProductTitle {
  border-bottom: solid black 1px
}
/* Calendar */
.react-calendar__navigation {
  text-align: center;
}
.react-calendar__navigation__label {
 padding: 2px;
 font-weight: 800;
}
.react-calendar__navigation__arrow {
  width: 2rem;
  margin: 15px;
  font-weight: 800;
}
 .react-calendar__month-view__weekdays_weekday {

 }
 abbr {
  font-weight: 500;
 }
 .react-calendar__viewContainer {
  padding: 15px;
 }
 .react-calendar__tile {
  height: 13vh;
 }
form {
letter-spacing: 2px;
}